<form action="/signup" method="POST">

  <div class="container">
    <label>Username</label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label>Password</label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Sign up</button>
  </div>

  <div class="container">
    <span class="forgot-password">Forgot <a href="/forgot-password">password ?</a></span>
    <span class="forgot-password"><a href="/register">Register</a></span>
  </div>
</form>